@import "./variables.sass"

*,
*::before,
*::after
    box-sizing: border-box

body
    font-family: 'Encode Sans', sans-serif

.App
    background-color: $bgcColor
    min-height: 100vh

.main-menu
    padding: 2rem
    .logo
        margin-left: 2rem

// to bold text
span.bold
    font-weight: 700
