@import "./variables.sass"

// global values
*,
*::before,
*::after
    box-sizing: border-box

body
    font-family: 'Encode Sans', sans-serif

h1
    font-size: clamp($fsH1Min, $fsH1Opt, $fsH1Max)

h2
    font-size: clamp($fsH2Min, $fsH2Opt, $fsH2Max)

p
    font-size: clamp($fsPMin, $fsPOpt, $fsPMax)

.App
    background-color: $bgcColor
    min-height: 100vh

.bold
    font-weight: 700

// mixins
@mixin textGradient($gradient)
    background: $gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent

@mixin animation($name, $duration: 5000ms, $timing: cubic, $iteration: infinite)
    animation-name: $name
    animation-duration: $duration
    animation-timing-function: $timing
    animation-iteration-count: $iteration
