// basic
$bgcColor: #18192C
$bgcLightColor: #2F304F
$primaryColor: #4C03EA
$secondaryColor: #F172DC
$whiteColor: #fff

// gradients
$gtPrimarySecondaryFadeOut: linear-gradient(to right bottom, #4c03ea, #8211e5, #a527e1, #c13dde, #d853dc, #c858d0, #b95cc4, #ab5fb7, #7c4f97, #533e74, #322c50, #18192c)
