*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Encode Sans', sans-serif;
}

h1 {
  font-size: clamp(2.5rem, 7vw, 5rem);
}

h2 {
  font-size: clamp(3rem, 6vw, 5rem);
}

p {
  font-size: clamp(0.9rem, 2vw, 1.3rem);
}

.App {
  background-color: #18192C;
  min-height: 100vh;
}

.main-menu {
  padding: 2rem;
}

.main-menu .logo {
  margin-left: 2rem;
}

.bold {
  font-weight: 700;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
}

@media (max-width: 1249px) {
  header {
    background: linear-gradient(107.15deg, rgba(82, 0, 255, 0.9) 27.69%, rgba(255, 0, 210, 0.9) 94.21%);
  }
  header .logo {
    display: none;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav ul li {
    border-radius: 0.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  header nav ul li a {
    color: #18192C;
    font-size: 1.9rem;
    padding: 0.5rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
  }
  header nav ul li a::before {
    content: "";
    border-radius: 0.8rem;
    position: absolute;
    width: 110%;
    height: 100%;
    left: -5%;
    top: 3%;
    z-index: -1;
    background-color: #18192C;
    opacity: 0;
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;
  }
  header nav ul li a.active {
    background: linear-gradient(107.15deg, rgba(82, 0, 255, 0.9) 27.69%, rgba(255, 0, 210, 0.9) 94.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  header nav ul li a.active::before {
    opacity: 1;
  }
}

@media (min-width: 1250px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2.4rem;
  }
  header .logo {
    cursor: pointer;
  }
  header img {
    -webkit-transition: 150ms ease-out;
    transition: 150ms ease-out;
    width: 15rem;
  }
  header a:hover, header a:focus {
    outline: none;
  }
  header a:hover img, header a:focus img {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    font-size: 0;
    position: relative;
  }
  nav ul li a {
    background: -webkit-gradient(linear, left top, right top, color-stop(39%, #18192c), color-stop(50%, #300f85), color-stop(64%, #3b0aad), color-stop(77%, #4c03ea), color-stop(86%, #701be7), color-stop(92%, #a43ee3), to(rgba(255, 0, 210, 0.9)));
    background: linear-gradient(90deg, #18192c 39%, #300f85 50%, #3b0aad 64%, #4c03ea 77%, #701be7 86%, #a43ee3 92%, rgba(255, 0, 210, 0.9) 100%);
    background-position: left;
    background-size: 400%;
    border-radius: 0.5rem;
    color: #fff;
    display: inline-block;
    font-size: 1.55rem;
    padding: 0.3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: font-weight 100ms ease-in, color 100ms ease-out, background-position 200ms ease-in-out;
    transition: font-weight 100ms ease-in, color 100ms ease-out, background-position 200ms ease-in-out;
  }
  nav ul li a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  nav ul li a:hover, nav ul li a:focus {
    background-position: right;
    color: #18192C;
    font-weight: bold;
    outline: none;
  }
}
/*# sourceMappingURL=Header.css.map */