main {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 4rem;
  position: relative;
}

main .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .left-column span.vertical-line {
  background: -webkit-gradient(linear, left top, left bottom, from(#4c03ea), color-stop(26%, rgba(96, 9, 232, 0.8)), color-stop(54%, rgba(122, 17, 229, 0.5)), color-stop(80%, rgba(168, 31, 223, 0.3)), color-stop(93%, rgba(209, 43, 218, 0.2)), to(rgba(246, 54, 214, 0)));
  background: linear-gradient(180deg, #4c03ea 0%, rgba(96, 9, 232, 0.8) 26%, rgba(122, 17, 229, 0.5) 54%, rgba(168, 31, 223, 0.3) 80%, rgba(209, 43, 218, 0.2) 93%, rgba(246, 54, 214, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6px;
  margin-top: 1rem;
  width: 5px;
}

main .left-column::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: linear-gradient(107.15deg, rgba(82, 0, 255, 0.9) 27.69%, rgba(255, 0, 210, 0.9) 94.21%);
}

main .left-column .description h1 {
  line-height: 150%;
  font-size: 3rem;
}

main .left-column .description span.text-gradient {
  background: linear-gradient(107.15deg, rgba(82, 0, 255, 0.9) 27.69%, rgba(255, 0, 210, 0.9) 94.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #4c03ea), color-stop(41%, rgba(97, 17, 232, 0.9)), color-stop(66%, rgba(105, 22, 232, 0.7)), color-stop(83%, rgba(114, 28, 231, 0.3)), color-stop(95%, rgba(124, 35, 230, 0.1)), to(rgba(129, 38, 230, 0.02)));
  background: linear-gradient(90deg, #4c03ea 2%, rgba(97, 17, 232, 0.9) 41%, rgba(105, 22, 232, 0.7) 66%, rgba(114, 28, 231, 0.3) 83%, rgba(124, 35, 230, 0.1) 95%, rgba(129, 38, 230, 0.02) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  letter-spacing: .25rem;
}

main .left-column .description ul {
  list-style: none;
  padding-left: 1rem;
}

main .left-column .description ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

main .left-column .description ul li::before {
  content: "";
  width: .7rem;
  height: .7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: linear-gradient(107.15deg, rgba(82, 0, 255, 0.9) 27.69%, rgba(255, 0, 210, 0.9) 94.21%);
}

main .left-column .description ul li p {
  font-size: 1.3rem;
}

main .right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .right-column h1 {
  line-height: 150%;
  text-align: center;
  font-size: 3rem;
}

main .right-column span.text-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #4c03ea), color-stop(41%, rgba(97, 17, 232, 0.9)), color-stop(66%, rgba(105, 22, 232, 0.7)), color-stop(83%, rgba(114, 28, 231, 0.3)), color-stop(95%, rgba(124, 35, 230, 0.1)), to(rgba(129, 38, 230, 0.02)));
  background: linear-gradient(90deg, #4c03ea 2%, rgba(97, 17, 232, 0.9) 41%, rgba(105, 22, 232, 0.7) 66%, rgba(114, 28, 231, 0.3) 83%, rgba(124, 35, 230, 0.1) 95%, rgba(129, 38, 230, 0.02) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

main .right-column textarea {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #4c03ea), color-stop(41%, rgba(97, 17, 232, 0.9)), color-stop(66%, rgba(105, 22, 232, 0.7)), color-stop(83%, rgba(114, 28, 231, 0.3)), color-stop(95%, rgba(124, 35, 230, 0.1)), to(rgba(129, 38, 230, 0.02)));
  background: linear-gradient(90deg, #4c03ea 2%, rgba(97, 17, 232, 0.9) 41%, rgba(105, 22, 232, 0.7) 66%, rgba(114, 28, 231, 0.3) 83%, rgba(124, 35, 230, 0.1) 95%, rgba(129, 38, 230, 0.02) 100%);
  border-bottom: 2px solid #18192C;
  border-left: 2px solid #18192C;
  border-right: none;
  border-top: none;
  border-radius: 0.8rem;
  color: #fff;
  display: block;
  font-family: 'Encode Sans', sans-serif;
  font-size: 1.3rem;
  height: 10rem;
  margin: 2.5rem auto;
  padding: 1rem;
  resize: none;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  width: 80%;
}

main .right-column textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: .6;
}

main .right-column textarea:-ms-input-placeholder {
  color: #fff;
  opacity: .6;
}

main .right-column textarea::-ms-input-placeholder {
  color: #fff;
  opacity: .6;
}

main .right-column textarea::placeholder {
  color: #fff;
  opacity: .6;
}

main .right-column textarea:hover, main .right-column textarea:focus {
  outline: none;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

main .right-column textarea:hover::-webkit-input-placeholder, main .right-column textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

main .right-column textarea:hover:-ms-input-placeholder, main .right-column textarea:focus:-ms-input-placeholder {
  opacity: 1;
}

main .right-column textarea:hover::-ms-input-placeholder, main .right-column textarea:focus::-ms-input-placeholder {
  opacity: 1;
}

main .right-column textarea:hover::placeholder, main .right-column textarea:focus::placeholder {
  opacity: 1;
}

@media (min-width: 1250px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=Main.css.map */